.advertise{
    display: grid;
    grid-template-rows: 1fr 1fr;
    .ad1{
        background-image: url('nagad.jpg');
        display: flex;
        justify-content: center;
        position: relative;
        background-position: center;
        background-size: 250px;
        background-repeat: no-repeat;
        bottom: 20px;
    }
    .ad2{
        background-image: url('ruti.jpg');
        display: flex;
        justify-content: center;
        position: relative;
        background-position: center;
        background-size: 200px 100px;
        background-repeat: no-repeat;
        bottom: 30px;
    }
}