.root{
    .logo{
        display: block;
        height: 7vh;
        background-image: url('prothom-alo-logo-D4FA48A860-seeklogo.com.png');
        background-repeat: no-repeat;
        background-size: 150px;
        background-position:center;
        padding-top: 10px;
    }
    .content{
        display: grid;
        height: 75vh;
        border: 2px solid grey;
        grid-template-columns: 3fr 1fr;
        @media screen and (max-width:480px) {
            grid-template-rows: 250px;
        }
        .loading{
            display: flex;
            justify-content: center;
            font-style: italic;
        }
    }
    .footer{
        display: block;
        height: 15vh;
        border: 2px solid blue;
    }
}