.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .image{
        display: inline;
        margin-top: 6%;
        padding-left: 2%;
        max-width: 220px;
        top:5px;
    }
    .news{
        padding-left: 2%;
        
    }
}