.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3%;
    .image{
        margin-top: 6%;
        padding-left: 2%;
        max-width: 220px;
        top:5px;
    }
    .news{
        padding-left: 2%;
        position: relative;
        right: 12px;
        bottom:5%
    }
}